*.class

# Package Files #
*.jar
*.war
*.ear
.metadata
.settings
/LudoUnchained-Android/endpoint-libs/*
/LudoUnchained-Android/bin/*.apk
/LudoUnchained-AppEngine/war/WEB-INF/*.api
/LudoUnchained-AppEngine/war/WEB-INF/*.discovery
/LudoUnchained-AppEngine/war/WEB-INF/appengine-generated